<div class="container" >
    <div class="card my-5" >
        <div class="card-header" class="p-3 mb-2 bg-primary text-white">
            <clase [clase]="course"></clase>
        </div>
        <div class="card-body">
            <div class="p-3 mb-2 bg-info-subtle text-info-emphasis">
                <app-subtitulo></app-subtitulo>
            </div>
            <div class="my-4">
                <app-estudiantes [estudiantes]="course.students"></app-estudiantes>
            </div>
        </div>
    </div>
</div>